@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    width: 100%;
    padding: 1rem;
    background-color: #afb0c2;

}

nav h1 {
    font-family: 'Pacifico', cursive;
    cursor: pointer;
}

nav .btns {
    border: none;
    background-color: #ffff;
    border-radius: 7px;
    width: 8rem;
    height: 2.5rem;
    font-family: "Poppins";
    font-weight: 700;

}

nav .btns:hover {
    background-color: rgb(255, 179, 80);
    color: #ffff;
    cursor: pointer;
}

nav .button-div {
    width: 20%;
    display: flex;
    justify-content: space-between;

}

.container {

    background-image: linear-gradient(rgba(16, 54, 226, 0.4), rgba(0, 89, 255, 0.8));
    padding-top: 2rem;
    height: 88vh;
    width: 100%;
    display: none;
    justify-content: center;
    font-family: 'Poppins', sans-serif;


}

.singup-div,
.image-div {
    width: 35%;
    height: 95%;

}

.singup-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffff;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.signup-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 10%;
}

.image-div {
    position: relative;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
}

.image-div img {
    width: 95%;
    height: 85%;
    border-radius: 2.5rem;
    object-fit: cover;
}

.singup-div form {
    height: 80%;

}

.singup-div form>div {
    margin: 0 3rem;
    height: 20%;
    display: flex;
    flex-direction: column;


}

.singup-div input,
button {
    margin: 0.4rem 0;
    height: 2.5rem;
}

label {
    font-size: 0.8rem;
    font-weight: 500;
}

.singup-div input {
    padding: 5px;
    border-style: solid;
    border-radius: 8px;
    border-color: #9396dd;

}

.singup-div input:focus {
    outline: none;
    box-shadow: 1px 1px 3px 2px #7c81da;
}

.singup-div button {
    border: none;
    border-radius: 8px;
    background-color: #5259e7;
    font-size: 1rem;
    color: #ffff;
}

.singup-div p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    color: #f80000;
}

.contianer-visible {
    display: flex;
}

.exit-icon {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin: 1rem;

}

/* grid layout design css */

.display-container {

    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   grid-auto-rows: 490px;
    justify-items: center;
    row-gap: 20px;
    min-height: 88vh;
    padding: 1.5rem;
    background-image: linear-gradient(rgba(317, 175, 164, 0.7), rgba(59, 114, 114, 0.6));

}
.card-display{
    display: none;
}
.image-content {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.image-content img {
    border-radius: 10px;
}

.card-container {
    border: 1px solid rgb(231, 219, 219);
    width: 340px;
    height: 490px;
    border-radius: 10px;
}

.card-container .image-content {
    width: 100%;
    height: 50%;
    padding: 5px;
    background-color: #fff;
}

.desc-content {
    height: 30%;
    padding: 10px;
}

.title-content {
    height: 10%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.bottom-content {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-container .image-content img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    object-position: center;
}

.title-content h2 {
    font-size: 20px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: #000;

}

.desc-content p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #3d3b3b;
    line-height: 20px;
}

.empty-heart, .filled-heart, #delete-button {
    cursor: pointer;
}

#delete-button:hover {
    transform: translateY(-20px);
}

#date-memory h4 {
    font-family: 'Poppins', sans-serif;
    color: rgb(34, 32, 31);

}
.hidden-heart{
    display: none;
}
